<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="./style.css" />
  <link rel="icon" href="logo.ico"/>
  <title>Templates</title>
</head>

<body>
  <div id="header">
    <h1>TEMPLATES</h1>
  </div>
  <div id="intro">
    <p>
      These are some examples of different themes of templates for your resumes.
    </p>
  </div>
  <table>
    <thead>
      <tr>
        <th colspan="5">TEMPLATES</th>
      </tr>
      <tr>
        <th>#</th>
        <th>Practical Name</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>
          Classic Template
        </td>
        <td class="deliver">
          <a href="./assets/templates/Classic.docx" download="Classic Template">Download</a>
      </tr>
      <tr>
        <td>2</td>
        <td>Orange Template</td>
        <td class="deliver">
          <a href="./assets/templates/Orange.docx" download="Orange Template">Download</a>
        </td>

      </tr>
      <tr>
        <td>3</td>
        <td>
          Green Template
        </td>
        <td class="deliver">
          <a href="./assets/templates/Green.docx" download="Green Template">Download</a>
        </td>
      </tr>
      <tr>
        <td>4</td>
        <td>
          Blue Template
        </td>
        <td class="deliver">
          <a href="./assets/templates/Blue.docx" download="Blue Template">Download</a>
        </td>
      </tr>
      <tr>
        <td>5</td>
        <td>
          GLA Template
        </td>
        <td class="deliver">
          <a href="./assets/templates/GLA.docx" download="GLA Template">Download</a>
        </td>
      </tr>
</body>

</html>